@(countries:List[String])(implicit request: Request[_])

<script src="assets/javascripts/vendor/jquery-1.11.0.min.js"></script>
<script src="assets/javascripts/selection-buttons.js"></script>
<script src="assets/javascripts/redirect.js"></script>
<script src="assets/javascripts/application.js"></script>

<div class="phase-banner-alpha">
    <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
</div>

@main_template(title = "Address lookup demo", bodyClasses = None) {

<h1>Your Address</h1>

<label for="location">Choose your location</label>
<form action="address-lookup-selection" method="get">
    <fieldset class="inline">

        <legend class="visuallyhidden">Choose your location</legend>

        <div class="form-group" id="location">
            <label class="block-label" data-target="example-UK" for="location-UK">
                <input id="location-UK" type="radio" name="radio-inline-group" value="UK">
                United Kingdom
            </label>

            <label class="block-label" data-target="example-INT" for="location-international">
                <input id="location-international" type="radio" name="radio-inline-group" value="INT">
                International
            </label>

            <label class="block-label" data-target="example-BFPO" for="location-BFPO">
                <input id="location-BFPO" type="radio" name="radio-inline-group" value="BFPO">
                BFPO
            </label>
        </div>

        <div class="panel panel-border-narrow" id="example-UK">

            <div class="form-group">
                <label class="form-label" for="house-name-number">House name or number</label>
                    <input class="form-control" id="house-name-number" name="house-name-number" type="text">
                <label class="form-checkbox" for="no-fixed-address">
                    <input id="no-fixed-address" name="no-fixed-address" type="checkbox" value="true">
                    I have no fixed address
                </label>
            </div>

            <div class="form-group">
                <label class="form-label" for="UK-postcode">Post code</label>
                    <input class="form-control" id="UK-postcode" name="UK-postcode" type="text" maxlength="8">
            </div>

            <div class="form-group">
                <label class="form-label" for="Address-table">Found addresses</label>
                <table id="Address-table">
                    <tbody>
                    <tr>
                        <td class="selection"><input id="address-selection-1" type="radio" name="radio-inline-group" value="Address-selection"></td>
                        <td>32, High Street, Newcastle. NE6 5XP</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input class="button" type="submit" value="Find address" >
                or <a href="#">edit this address</a>
            </div>

        </div>


        <div class="panel panel-border-narrow" id="example-INT" style="display: none;">

            <div class="form-group">
                <label class="form-label" for="int-country">Country</label>
                <select class="form-control" id="int-country">
                    @for(country <- countries) {
                        <option>@country</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="form-label" for="int-address">Address</label>
                <textarea class="form-control" rows="5" id="int-address"></textarea>
            </div>

            <div class="form-group">
                <input class="button" type="submit" value="Continue" disabled>
            </div>

        </div>

        <div class="panel panel-border-narrow" id="example-BFPO" style="display: none;">

            <div class="form-group">
            <label class="form-label" for="BFPO-postcode">BFPO post code</label>
            <input class="form-control" id="BFPO-postcode" type="text">
            </div>

            <div class="form-group">
            <label class="form-label" for="BFPO-number">BFPO number</label>
            <input class="form-control" id="BFPO-number" type="text">
            </div>

            <div class="form-group">
            <label class="form-label" for="BFPO-service-number">Service number</label>
            <input class="form-control" id="BFPO-service-number" type="text">
            </div>

            <div class="form-group">
            <label class="form-label" for="BFPO-rank">Rank</label>
            <input class="form-control" id="BFPO-rank" type="text">
            </div>

            <div class="form-group">
            <label class="form-label" for="BFPO-name">Name</label>
            <input class="form-control" id="BFPO-name" type="text">
            </div>

            <div class="form-group">
            <label class="form-label" for="BFPO-unit-regiment-department">Unit,Regiment and/or Department</label>
            <input class="form-control" id="BFPO-unit-regiment-department" type="text">
            </div>

            <div class="form-group">
            <label class="form-label" for="BFPO-operation-name">Operation name (if applicable)</label>
            <input class="form-control" id="BFPO-operation-name" type="text">
            </div>

            <div class="form-group">
            <input class="button" type="submit" value="Continue" disabled>
            </div>

        </div>

    </fieldset>

</form>

}
