@()(implicit request: Request[_])


  <form action="address-lookup-bfpo-form" method="get">

    <div class="form-group">
      <label class="form-label-bold" for="BFPO-postcode">BFPO post code</label>
      <input class="form-control" id="BFPO-postcode" type="text">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="BFPO-number">BFPO number</label>
      <input class="form-control" id="BFPO-number" type="text">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="BFPO-service-number">Service number</label>
      <input class="form-control" id="BFPO-service-number" type="text">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="BFPO-rank">Rank</label>
      <input class="form-control" id="BFPO-rank" type="text">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="BFPO-name">Name</label>
      <input class="form-control" id="BFPO-name" type="text">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="BFPO-unit-regiment-department">Unit,Regiment and/or Department</label>
      <input class="form-control" id="BFPO-unit-regiment-department" type="text">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="BFPO-operation-name">Operation name (if applicable)</label>
      <input class="form-control" id="BFPO-operation-name" type="text">
    </div>

    <div class="form-group">
      <input class="button" type="submit" value="Continue" disabled>
    </div>

  </form>
