@(bfpoTypedDetails: Option[BFPOAddTypedDetails], errorMessage: Option[List[AddressErrorMsg]] = None)(implicit request: Request[_])


<form action="address-lookup-bfpo-selection" method="get">

  <input type="checkbox" name="hiddentab" id="hiddentab" value="bfpotab" checked>

  @if(errorMessage.exists( _.contains(BlankBFPOPostcode() ))) {
    <div class="form-group error">
      <label for="error-BFPO-postcode-label">
        <span class="form-label-bold">BFPO post code</span>
        <span class="form-hint">A valid BFPO post code is required</span>
        <span class="error-message" id="error-BFPO-postcode-label">Post code was left blank</span>
      </label>
      <input class="form-control" id="error-BFPO-postcode" name="BFPO-postcode" type="text" maxlength="8">
    </div>
  } else {
    @if(errorMessage.exists( _.contains(InvalidPostcode() ))) {
      <div class="form-group error">
        <label for="error-BFPO-postcode-label">
          <span class="form-label-bold">BFPO post code</span>
          <span class="form-hint">A valid BFPO post code is required</span>
          <span class="error-message" id="error-BFPO-postcode-label">Invalid BFPO postcode found</span>
        </label>
        <input class="form-control" id="error-BFPO-postcode" name="BFPO-postcode" type="text" maxlength="8">
      </div>
    } else {
      <div class="form-group">
        <label class="form-label-bold" for="BFPO-postcode">BFPO post code</label>
        <input class="form-control" id="BFPO-postcode" name="BFPO-postcode" type="text">
      </div>
    }
  }

  <div class="form-group">
    <input class="button" type="submit" value="Continue">
  </div>

</form>