@(bfpoShortAddrForm: Form[BFPOAddData])(implicit request: Request[_])

@import services.MyHelpers._

@import uk.gov.hmrc.play.views.html.helpers


@helpers.form(controllers.routes.AddressLookup.bfpoContinueButton) {

  @helper.checkbox(bfpoShortAddrForm("hiddentab"),  'value -> "bfpotab", 'checked -> true, '_label -> "" )

  @helper.inputText(bfpoShortAddrForm("BFPO-postcode"), 'class -> "form-control", 'maxlength -> "8", '_label -> "BFPO post code")

  <input class="button" type="submit" value="Continue">

}