@(bfpoAddrForm: Form[BFPOEditData])(implicit request: Request[_])


@import services.MyHelpers._

@import uk.gov.hmrc.play.views.html.helpers


@helpers.form(controllers.routes.AddressLookup.bfpoEditButton) {

  @helper.checkbox(bfpoAddrForm("hiddentab"),  'value -> "bfpotab", 'checked -> true, '_label -> "" )


  @helper.inputText(bfpoAddrForm("BFPO-postcode"), 'class -> "form-control", '_label -> "BFPO post code")
  @helper.inputText(bfpoAddrForm("BFPO-number"), 'class -> "form-control", '_label -> "BFPO number")
  @helper.inputText(bfpoAddrForm("BFPO-service-number"), 'class -> "form-control", '_label -> "Service number")
  @helper.inputText(bfpoAddrForm("BFPO-rank"), 'class -> "form-control", '_label -> "Rank")
  @helper.inputText(bfpoAddrForm("BFPO-name"), 'class -> "form-control", '_label ->  "Name")
  @helper.inputText(bfpoAddrForm("BFPO-unit-regiment-department"), 'class -> "form-control", '_label ->  "Unit,Regiment and/or Department")
  @helper.inputText(bfpoAddrForm("BFPO-operation-name"), 'class -> "form-control", '_label ->  "Operation name (if applicable)")


    <input class="button" type="submit" value="Continue">

}
