@(ukTypedDetails: AddressTypedDetails, intTypedDetails: Option[IntAddTypedDetails], address:Option[services.Address], noFixedAddress:Boolean)(implicit request: Request[_])

<script src="assets/javascripts/vendor/jquery-1.11.0.min.js"></script>
<script src="assets/javascripts/selection-buttons.js"></script>
<script src="assets/javascripts/redirect.js"></script>
<script src="assets/javascripts/application.js"></script>
<link href="assets/stylesheets/address-lookup.css" rel="stylesheet" type="text/css">

<div class="phase-banner-alpha">
    <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
</div>

@main_template(title = "Address lookup demo", bodyClasses = None) {

    <div class="govuk-box-highlight">
        <h2 class="bold-large">Application complete</h2>
        <p>Address:</p>
        <span>
            @if(noFixedAddress) {
                No fixed address.
            } else {
                @if( address.nonEmpty) {
                    @for( line <- address.get.lines) {
                        <p>@line</p>
                    }
                    <p>@address.get.town</p>
                    <p>@address.get.postcode</p>
                } else {
                    @if(ukTypedDetails.line1.nonEmpty) {
                        <p>@ukTypedDetails.line1</p>
                        <p>@ukTypedDetails.line2</p>
                        <p>@ukTypedDetails.line3</p>
                        <p>@ukTypedDetails.town</p>
                        <p>@ukTypedDetails.county</p>
                        <p>@ukTypedDetails.postcode</p>
                    } else {
                        @for(addr <- intTypedDetails ) {
                            @if(addr.country.nonEmpty) {
                                @for( line <- addr.address ) {
                                    <p>@line</p>
                                }
                               <p>Country: @addr.country</p>
                            } else {
                                ERROR: Unable to find address details
                            }
                        }
                    }
                }
            }
        </span>
    </div>

}