@(intAddrForm: Form[IntAddData], countries: List[String])(implicit request: Request[_])

@import services.MyHelpers._

@import uk.gov.hmrc.play.views.html.helpers

@helpers.form(controllers.routes.AddressLookup.intContinueButton) {

    @helper.checkbox(intAddrForm("hiddentab"),  'value -> "inttab", 'checked -> true, '_label -> "" )

    @helper.select(intAddrForm("int-country"), countries.map(i => (i, i)).toSeq, '_label -> "Country")
    @helper.textarea(intAddrForm("int-address"), 'rows -> 5, '_label -> "Address")
    <input class="button" type="submit" value="Continue">
}