@(ukAddrForm:Form[AddressData], addressList: Option[List[services.Address]], optionFlag: Option[List[OptionFlag]], maxAddresses: Int = 50)(implicit request: Request[_])

@import services.LayoutHelper._

@import uk.gov.hmrc.play.views.html.helpers

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="assets/javascripts/address-lookup.js"></script>
<link href="assets/stylesheets/address-lookup.css" rel="stylesheet" type="text/css">


@helpers.form( controllers.routes.AddressLookup.addressLookupSelection, 'id -> "myForm"  ) {
    @views.html.helper.CSRF.formField

    @helper.checkbox(ukAddrForm("hiddenselection"), 'id -> "hiddenselection", 'name -> "hiddenselection", '_label -> "" )

    @for( addrX <- addressList) {
        @if(addrX.length > maxAddresses) {
            <div class="form-group">
                <div class="warning-box">
                    <h2>Over @maxAddresses addresses found</h2>
                    <p>Please enter a house name or number.</p>
                </div>
            </div>
        }
    }

    @if(optionFlag.exists( _.contains(NoMatchesFound() ))) {
        <div class="form-group">
            <div class="warning-box">
                <h2>No addresses found for given Post code</h2>
                <p>Please enter a postcode or select 'edit this address'.</p>
            </div>
        </div>
    }

    <div class="form-group">
        @helper.inputText(ukAddrForm("house-name-number"),  'class -> "form-control",  '_label -> "House name or number" )

        <label class="form-checkbox" for="no-fixed-address">
            <input id="no-fixed-address" name="no-fixed-address" type="checkbox" value="true">
            I have no fixed address
        </label>
    </div>


    <div class="form-group">
        @helper.inputText(ukAddrForm("UK-postcode"),  'class -> "form-control",  '_label -> "Post code",  'maxlength -> "8"  )
    </div>



    @for( addrX <- addressList) {
        @if(addrX.length <= maxAddresses && !optionFlag.exists( _.contains(NoMatchesFound() ))) {
            <div class="form-group">
                <label class="form-label-bold" for="Address-table">Found addresses</label>
                <table id="Address-table">
                    <tbody>
                    @for( addr <- addrX) {
                        <tr>
                            <td class="selection"><input id='@{
                                addr.uprn
                            }' type="radio" name="radio-inline-group" value='@{
                                addr.uprn
                            }'>
                            </td>
                            <td><label for='@{
                                addr.uprn
                            }'>@{
                                addr.toAddrString
                            }</label>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    }

    @if(optionFlag.exists( _.contains(AddManualEntry() ))) {
        <div class="form-group">
            <h2>Amend address</h2>
            @helper.inputText(ukAddrForm("UK-address-line1"),  'class -> "form-control", '_name -> "Address line 1" )
            @helper.inputText(ukAddrForm("UK-address-line2"),  'class -> "form-control",  '_name -> "Address line 2"  )
            @helper.inputText(ukAddrForm("UK-address-line3"),  'class -> "form-control",  '_name -> "Address line 3"  )
            @helper.inputText(ukAddrForm("UK-town"),  'class -> "form-control",  '_name -> "Nearest town or city"  )
            @helper.inputText(ukAddrForm("UK-address-county"),  'class -> "form-control",  '_name -> "County"  )

        </div>
    }

    <div class="form-group">
        <input class="button" type="submit"  value="Continue">
        @if(addressList.nonEmpty && addressList.getOrElse(List.empty[services.Address]).size <= maxAddresses ){
            <span>or <a href="#"  id="editAddress"> edit this address</a></span>
        }
    </div>

}



